.nav-container {
  background-color: #04304f;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px 0 0 0;
}

.nav-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
  scrollbar-width: none;
}

.nav-wrapper::-webkit-scrollbar {
  display: none;
}

.nav-menu {
  position: relative;
  display: flex;
  justify-content: stretch; 
  align-items: stretch;
  width: 100%;
  padding: 0;
}

.nav-link {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  padding: 12px 10px;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  white-space: nowrap;
  border-right: 1px solid rgba(209, 209, 209);
}

.nav-link:last-of-type {
  border-right: none;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffd87a;
}

.nav-link.active {
  color: #ffd87a;
  background-color: rgba(255, 255, 255, 0.03);
}

.navigator-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #ffd87a;
  border-radius: 4px 4px 0 0;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), width 0.3s ease;
  pointer-events: none;
  box-shadow: 0 -2px 10px rgba(255, 216, 122, 0.4);
  z-index: 10;
}

@media (max-width: 900px) {
  .nav-menu {
    min-width: max-content;
  }

  .nav-link {
    flex: none;
    padding: 18px 25px;
    font-size: 14px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
}