.contacts-wrapper {
    padding: 20px;
}

.contacts-title {
    text-align: center;
    margin-bottom: 20px;
}

.contacts-item {
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}