.direction-details {
    padding: 20px;
}

.inner-images-grid {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  margin-top: 30px;
}

.details-header {
    display: grid;
    grid-template-columns: 100px 1fr 100px; 
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}

.back-btn {
    grid-column: 1;
    background: none;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: fit-content;
    white-space: nowrap;
}

.details-header h1 {
    grid-column: 2;
    text-align: center;
    margin: 0;
    font-size: 24px;
    color: #333;
}

.inner-img-wrapper {
  flex: 1 1 300px;
  border-radius: 12px;
  overflow: hidden;
  height: 400px;
}

.inner-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 600px) {
  .inner-img-wrapper {
    height: 250px;
  }
}