/* Автоматически генерируем новости на странице */
/* Сделано для масштабируемости, то есть будет 4 новости всего то сайт должен выглядеть так как я его задумал */

.news-wrapper {
  display: grid;
  gap: 15px;
  grid-auto-rows: 200px;
}

/* В случае если 2 новости */
.news-count-2 {
  grid-template-columns: repeat(2, 1fr);
}

/* в случае если 3 нвости */
.news-count-3 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 232px);
}

.news-count-3 .news-card:nth-child(1) {
  grid-column: 1;
  grid-row: 1/3;
}

.news-count-3 .news-card:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.news-count-3 .news-card:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* в случае если 4 нвости */
.news-count-4 {
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 232px);
}

.news-count-4 .news-card:nth-child(1) {
  grid-column: 1;
  grid-row: 1/3;
}

.news-count-4 .news-card:nth-child(2) {
  grid-column: 2;
  grid-row: 1/2;
}

.news-count-4 .news-card:nth-child(3) {
  grid-column: 2;
  grid-row: 2/3;
}

.news-count-4 .news-card:nth-child(4) {
  grid-column: 3;
  grid-row: 1/3;
}

/* Для 5 новостей */
.news-count-5 {
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(3, 220px);
}

.news-count-5 .news-card:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
}

.news-count-5 .news-card:nth-child(2) {
    grid-column: 2;
    grid-row: 1/2;
}

.news-count-5 .news-card:nth-child(3) {
    grid-column: 2;
    grid-row: 2/3;
}

.news-count-5 .news-card:nth-child(4) {
    grid-column: 3;
    grid-row: 1/3;
}

.news-count-5 .news-card:nth-child(5) {
    grid-column: 1/4;
    grid-row: 3;
}

/* для 6 новостей */
.news-count-6 {
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(3, 220px);
}

.news-count-6 .news-card:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
}

.news-count-6 .news-card:nth-child(2) {
    grid-column: 2;
    grid-row: 1/2;
}

.news-count-6 .news-card:nth-child(3) {
    grid-column: 2;
    grid-row: 2/3;
}

.news-count-6 .news-card:nth-child(4) {
    grid-column: 3;
    grid-row: 1/3;
}

.news-count-6 .news-card:nth-child(5) {
    grid-column: 1/3;
    grid-row: 3;
}

.news-count-6 .news-card:nth-child(6) {
    grid-column: 3;
    grid-row: 3;
}

.news-card {
  background-color: rgb(231, 231, 231);
  border-radius: 15px;
  padding: 20px;
  grid-row: span 2;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.news-card:hover {
  transform: scale(1.009);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}